body {
    background-color: #1b1b32;
}

#logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

#fccLogo {
    max-width: 30vw;
}

#titleContainer {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#title {
    color: white;
    font-size: 4vw;
    max-width: 40%;
    text-align: center;
}