body {
    background-color: #1b1b32;
}

#logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

#fccLogo {
    width: 300px;
    max-width: 50%;
}

#titleContainer {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#title {
    color: white;
    font-size: 50px;
    max-width: 80%;
    text-align: center;
}